*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:#fff;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #191825;
}
header{
    height: 50px;
}
.header-container{
    background-color:#F7F1E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 5%;
}
.nav-item{
    list-style-type: none;
    margin: 10px 6%;
}
.nav-item:hover{
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 20px;
}
.nav-container a{
    text-decoration: none;
    color: #191825;
}
.container{
    height: 60%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.intro-text{
    text-align: center;
    width: 60%;
    letter-spacing:0.2rem;
    font-size: 1.2rem;
    line-height: 70px;
}
.intro-text p{
    font-size: 2.5rem;
}
.intro-text h2{
    font-style: italic;
    margin:0 auto;
    font-size: 62px;
    background: -webkit-linear-gradient(#eee, #6f6c6c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
